body{
	background-color: #34495E;

}
.clasa1{
	text-align: center;
}
.clasa2{
	text-align: center;
}
.clasa3{
	text-align: center;
}
.clasa4{
	color: #566573;

}
.clasa5{
	background-color: #5D6D7E;
}
.clasa6{
	text-align: center;
}
.clasa7{
	background-color:#5D6D7E; 
}
.clasa8{
	text-align: center;
}
.clasa9{
	text-align: right;
}